[Desktop Entry]
Name=Familier
Comment=Genealogy Software
Exec=Familier
Icon=familier
Terminal=false
MultipleArgs=false
Type=Application
Categories=Office;Utility;

